.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerCls {
    background: rgb(100, 100, 162);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 4px;
    align-items: center;
}

.headerCls a {
  color: #fff;
}
.headerCls li{
  list-style: none;
  display: inline-block;
  font-size: 1.5rem;
}
.login {
  margin: 0 auto;
}
.loginForm {     
  margin: 2rem auto;
  text-align: center;
}
.loginForm div{     
  margin: 2rem auto;
}
.padCls{
  padding: 1rem;
}

.task-box{
  border: solid 1px #c0bdbd;
  border-radius: 8px;
  padding: 1rem;
  background: #c5cae7;
}

.sideNav{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
}